name: "Zephyr Driver CI/CD"

on:
  push:
    paths-ignore:
      - 'README.md'
  workflow_dispatch: 

jobs:
  zephyr-driver:
    uses: catie-aq/zephyr_workflows/.github/workflows/driver.yml@7-create-cicd-for-zephyr-driver
        